!
router ospf {{ ospf_id }}
   redistribute rip
   redistribute bgp
   router-id {{ ospf_router_id }}
   max-lsa 12000
{% for network, area in ospf_networks %}
   network {{ network }} area {{ area }}
{% endfor %}
!
router ospfv3
   router-id {{ ospfv3_router_id }}
!

